body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 0.75em;
    width: 50em;
}

h1 {
    font-size: 1.1em;
    border-bottom: 1px solid darkgray;
}

h2 {
    font-size: 0.9em;
}

.title {
    font-size: 2em;
}

p {
    margin: 1em 1em 2em 2em;
    text-align: justify;
    margin-bottom: 1em;
}

.literal-block {
    font-size: 1.1em;
    margin: 1em 1em 2em 5em;
}

.contents {
    background-color: #F9F9F9;
    margin: 1em 1em 4em 2em;
    border: 1px dotted #CCCCCC;
    width: 25em;
}

.contents p {
    text-transform: uppercase;
}

.contents ul {
    list-style-type: none;
}

.section {
    margin-bottom: 1.5em;
}

a.toc-backref {
    text-decoration: none;
}

table.field-list {
    width: 45em;
}

.field-name {
    font-size: 0.9em;
}

.field-body {
    font-size: 0.9em;
}
